.idea
.redcar
store-credit/A-*-practice.in
reverse-words/B-*-practice.in
minimum-scalar-product/A-*-practice.in
alien-language/A-*-practice.in
rope-intranet/A-*-practice.in
file-fixit/A-*-practice.in
rotate/A-*-practice.in
all-your-base/A-*-practice.in
snapper-chain/A-*-practice.in
fair-warning/B-*-practice.in
theme-park/C-*-practice.in
